<h2 id="title">Welcome to Ember</h2>

<div data-test-current>
  {{this.model.QPs}}
</div>

<LinkTo @route='application' @query={{hash}}>/ aka Clear</LinkTo>

<br>
<LinkTo @route='application' @query={{hash a=2}}>/?a=2</LinkTo>

<br>
<LinkTo @route='foo' @query={{hash b=4}}>/foo?b=4</LinkTo>

<br>
<LinkTo @route='bar' @query={{hash a=2 b=6}}>/bar?a=2&b=6</LinkTo>


<QueryParamDecorator />