<h2 id="title">Welcome to Ember</h2>

<div data-test-current>
  {{this.model.QPs}}
</div>

<Link @to='application' @queryParams={{hash}}>Clear</Link>

<br>

<Link @to='application' @queryParams={{hash a=2}}>a=2</Link>

<br>

<Link @to='foo' @queryParams={{hash b=4}}>b=4</Link>

<br>
<Link @to='bar' @queryParams={{hash a=2 b=6}}>a=2, b=6</Link>


<QueryParamDecorator />